<!--navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign tags_list = site.categories %}  
                        {% if tags_list.first[0] == null %}
                            {% for tag in tags_list %} 
                                <li><a href="/{{ tag }}">{{ tag | capitalize }} ({{ site.tags[tag].size }})</a></li>
                                <li role="separator" class="divider"></li>
                            {% endfor %}
                        {% else %}
                            {% for tag in tags_list %} 
                                <li><a href="/{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1].size }})</a></li>
                        <li role="separator" class="divider"></li>
                            {% endfor %}
                        {% endif %}
                        {% assign tags_list = nil %}
                    </ul>
                </li>
                <li><a href="/about/">About</a></li>
                <li><a target="_blank" href="https://github.com/{{ site.github_username }}">Github</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>