body {
    padding-top: 75px;
    padding-bottom: 75px;
}

.page-body>p:first-child {
    font-size: 1.25rem;
}

.page-title {
    margin-bottom: 2rem;
}

.main-img{
    max-width: 600px;
    max-height: 300px;
}

.post{
    border: 5px solid #e7e7e7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.social-share a i{
    font-size: 36px;
    margin-right: 10px;
}

.category-banner{
    max-width: 600px;
    max-height: 200px;
}