---
layout: default
title: Grocery store
permalink: /grocery-store/
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img style="max-height: 200px;" src="/img/grocery.png" class="img-responsive center-block">
        </div>
        <div class="col-xs-12">
            <h1 class="text-center">All things you need to prepare a recipe.</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include groceries/c-plus-plus.html %}

            {% include groceries/moocs.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-center"><b>Note: This site is not responsible for the contents listed on these links. I am trying my best to provide you best resources available on the web.</b></p>  
        </div>
    </div>
</div>