---
 layout: default 
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ page.title }}</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>{{ page.date | date: "%a, %b %d, %Y" }}</span>
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <span><a href="/{{ page.category | permalink }}"> {{ page.category }}</a></span>
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>{{ page.author }}</span>
                    </p>
                </div> 
            </div>
            {{ content }}
        </div>
    </div>
</div>
