@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&family=Source+Code+Pro:wght@400&display=swap);
:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Oswald", sans-serif;
  --font-secondary-weight-std: 500;
  --font-monospaced: "Source Code Pro", monospace;
}
/* body, */
body[data-theme="light"] {
  /* https://stackoverflow.com/a/41265350/4547798 */
  /* #ffffff */
  --background: 255, 255, 255;
  /* #ffffff */
  --bg-surface: 255, 255, 255;
  /* #6200ee */
  --bg-primary: 98, 0, 238;
  /* #3700b3 */
  --bg-primary-variant: 55, 0, 179;
  /* #03dac6 */
  --bg-secondary: 3, 218, 198;
  /* #018786 */
  --bg-secondary-variant: 1, 135, 134;
  /* #b00020 */
  --bg-error: 176, 0, 32;
  /* #000000 */
  --bg-text: 0, 0, 0;
  /* #000000 */
  --surface-text: 0, 0, 0;
  /* #ffffff */
  --primary-text: 255, 255, 255;
  /* #ffffff */
  --primary-variant-text: 255, 255, 255;
  /* #000000 */
  --secondary-text: 0, 0, 0;
  /* #ffffff */
  --error-text: 255, 255, 255;
}
body,
body[data-theme="dark"] {
  /* #121212 */
  --background: 18, 18, 18;
  /* #121212 */
  --bg-surface: 18, 18, 18;
  /* #bb86fc */
  --bg-primary: 187, 134, 252;
  /* #3700b3 */
  --bg-primary-variant: 55, 0, 179;
  /* #03dac6 */
  --bg-secondary: 3, 218, 198;
  /* #03dac6 */
  --bg-secondary-variant: 3, 218, 198;
  /* #cf6679 */
  --bg-error: 207, 102, 121;
  /* #ffffff */
  --bg-text: 255, 255, 255;
  /* #ffffff */
  --surface-text: 255, 255, 255;
  /* #000000 */
  --primary-text: 0, 0, 0;
  /* #ffffff */
  --primary-variant-text: 255, 255, 255;
  /* #000000 */
  --secondary-text: 0, 0, 0;
  /* #000000 */
  --error-text: 0, 0, 0;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-primary);
  background: rgb(var(--background));
  color: rgb(var(--bg-text));
  line-height: 1.5;
  -webkit-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

/* different surfaces */
.surface-0 {
  background: rgba(var(--surface-text));
  color: rgb(var(--surface-text));
}
.surface-5 {
  background: rgba(var(--surface-text),0.05);
  color: rgb(var(--surface-text));
}
.surface-7 {
  background: rgba(var(--surface-text),0.07);
  color: rgb(var(--surface-text));
}
.surface-8 {
  background: rgba(var(--surface-text),0.08);
  color: rgb(var(--surface-text));
}
.surface-9 {
  background: rgba(var(--surface-text),0.09);
  color: rgb(var(--surface-text));
}
.surface-11 {
  background: rgba(var(--surface-text),0.11);
  color: rgb(var(--surface-text));
}
.surface-12 {
  background: rgba(var(--surface-text),0.12);
  color: rgb(var(--surface-text));
}
.surface-14 {
  background: rgba(var(--surface-text),0.14);
  color: rgb(var(--surface-text));
}
.surface-15 {
  background: rgba(var(--surface-text),0.15);
  color: rgb(var(--surface-text));
}
.surface-16 {
  background: rgba(var(--surface-text),0.16);
  color: rgb(var(--surface-text));
}

.padding-hr-1 {
  padding: 0 5vw;
}

/* component specific styles */
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}